.timer-sequence {
	font-size: 100px;
	color: $light;
	border: 2px solid $light;
}

.timer-to-go {
	font-size: 40px;
	color: $light;
}

.timer-counter {
	font-size: 80px;
	color: $light;
}

.done {
	font-size: 80px;
	color: $light;
}
