@import '~bootstrap/scss/bootstrap';

.timer-container {
	width: 400px;
	height: 400px;
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.timer-counter,
.timer-sequence {
	font-size: 80px;
	margin-bottom: 30px;
}

.timer-toggle-button {
	background-color: transparent;
	border: 1px solid black;
	border-radius: 5px;
	width: 100px;
	padding: 10px 15px;
}

.setup-container {
	width: 400px;
	height: 400px;
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.setup-input {
	border: 1px solid black;
	border-radius: 5px;
	padding: 5px;
	margin: 0 10px;
}

.setup-add-button,
.setup-submit-button {
	background-color: transparent;
	border: 1px solid black;
	border-radius: 5px;
	padding: 10px 15px;
}
